body {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: fixed;
    width: 90%;
    max-width: 1000px;
}

th, td {
    border: 1px solid;
    padding: .25em;
}
